body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(to right, #00ff87, #60efff);
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
}

.clock{
    display: flex;
    font-family: sans-serif;
}

.clock div{
    margin: 5px;
    position: relative;
}

.clock span{
    width: 100px;
    height: 80px;
    background-color: slateblue;
    opacity: .8;
    color: white;
    display: flex;
    align-items: center;
    font-size: 50px;
    justify-content: center;
    text-shadow: 2px 4px rgba(0,0,0,0.3);
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkblue;
    opacity: .8;
}

.clock #ampm{
    bottom: 0;
    display: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: green;
}